In [4]:
#we will import pandas library for analysis and load the file in jupyter lab
import pandas as pd
df =pd.read_csv('C:/Users/abdul.rafey/Desktop/London Bike Data Project/london_merged.csv')

In [5]:
#we can see a few rows to see how the data looks like 
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [7]:
#we can see the no. of row, columns and their data types with the info command
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [8]:
# we check the last couple of rows to see if there are any error or null values.
df.tail()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [9]:
# to see the the unique values assigned to eah value code
df.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [11]:
#unique values assigned to the season column
df.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [12]:
#specifing the column names that i want to use instead
new_cols_dict = {
    'timestamp' : 'Time',
    'cnt' : 'Count',
    't1' : 'Temp_real_C',
    't2': 'Temp_feels_like_C',
    'hum': 'Humidity_percent',
    'wind_speed': 'Wind_speed_kph',
    'weather_code' : 'Weather',
    'is_holiday': 'Is_holiday',
    'is_weekend': 'Is_weekend',
    'season' : 'Season'
}
#renaming the column names to the ones i want to make the data more clear and understanding
df.rename(new_cols_dict, axis =1, inplace = True)

In [15]:
#changing the values in the humidity column to percentage
df.Humidity_percent= df.Humidity_percent / 100

In [18]:
# creating a dictionary in which i assigned actual written values to the integers to make more sense of the dat
seasons_dict = {
    '0.0' : 'Spring',
    '1.0' : 'Summer',
    '2.0' : 'Autumn',
    '3.0' : 'winter'
}
# assigining values to the weather column so the first time reader can easily understand the data
weather_dict = {
    '1.0' : 'Clear',
    '2.0' : 'Scattered Clouds',
    '3.0' : 'Broken Clouds',
    '4.0' : 'Cloudy',
    '7.0' : 'Rain',
    '10.0' : 'Rain with thunderstorm',
    '26.0' : 'Snowfall'
}
# changing the season data type from string to integer because we assigned alphabatical values to the season column
df.Season= df.Season.astype('str')
#redirecting the season column to the seasons dictionary column in whuch we assigned the updated values
df.Season = df.Season.map(seasons_dict)

#also changing weather values from string to integer
df.Weather = df.Weather.astype('str')
#mapping the new updated column to the previous weather column
df.Weather = df.Weather.map(weather_dict)

In [19]:
#checking the first few rows to see if the data is updated in our dataset 
df.head()

,Time,Count,Temp_real_C,Temp_feels_like_C,Humidity_percent,Wind_speed_kph,Weather,Is_holiday,Is_weekend,Season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [20]:
# writing the final dataframe to an excel file that we will use in our Tableau visualisations. The file will be the 'london_bikes_final.xlsx' file and the sheet name is 'Data'
df.to_excel('london_bikes_final.xlsx', sheet_name='Data')